body{background-color:#fff;}
body,input,select,textarea,button{font:12px tahoma,arial,Î¢ÈíÑÅºÚ,ËÎÌå;line-height:19px;}
td{font-size:12px;line-height:16px;}
form{margin:0}
img{border:0}
a:link{color:#000;text-decoration:none}
a:visited{color:#000;text-decoration:none}
a:hover{color:#f24f00;text-decoration:underline}
a.LabelLink:link{color:#000;text-decoration:none}
a.LabelLink:visited{color:#000;text-decoration:none}
a.LabelLink:hover{color:#f24f00;text-decoration:none}
ol,ul{margin:0}
h1{font-size:20pt;line-height:24pt}
h2{font-size:16pt;line-height:20pt}
textarea{resize:none}
*{outline:0}
::-ms-clear { display: none; }

.ellipsis{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all}
.disabled{color:#a0a0a0}
.Title{font-family:"Î¢ÈíÑÅºÚ","ËÎÌå";font-size:20px;line-height:1.0;font-weight:300}


.Loading{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;background-color:#f2fdff;opacity:0.9;
               border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;               
               -moz-box-shadow:3px 3px 5px #eee,-3px 3px 5px #eee,-3px -3px 5px #eee,3px -3px 5px #eee;
               -webkit-box-shadow:3px 3px 5px #eee,-3px 3px 5px #eee,-3px -3px 5px #eee,3px -3px 5px #eee;
               box-shadow:3px 3px 5px #eee,-3px 3px 5px #eee,-3px -3px 5px #eee,3px -3px 5px #eee; }
.Panel{border-color:#b7b7b7;box-shadow:1px 2px 2px #fff}
.SDIPanel{border-top:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;padding:5px}
.ToolTip{border:1px solid #eee;box-shadow:1px 2px 2px #fff;background-color:rgba(242,253,255,0.8);padding:5px}
.Border{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;background-color:rgba(255,255,255,0.9);}

.Edit{width:116px;height:22px;border:1px solid #61ade9;background-color:#fff; text-indent:2px;}
.Edit:hover{border-color:#f19a60;}
.Edit:disabled{border:1px solid #ddd;background:#eee;}

.Grid .ButtonEdit{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
.ButtonEdit{width:116px;height:22px;border:1px solid #61ade9;background-color:#fff;text-indent:3px;}
.ButtonEdit:hover{border-color:#f19a60;}
.ButtonEdit:disabled{border:1px solid #ddd;background:#eee;}
.ButtonEditTable:hover .EditButtonBorder, .ButtonEditTable:hover .ButtonEdit{border-color:#f19a60;}

.FileEdit{width:120px;height:21px}
.EditButtonBorder{border:1px solid #61ade9;border-left:none;background-color:#fff;}

.FlatButton{border:1px solid #b7b7b7;}
.Button{color:#fff;border:1px solid #1193c7;background-color:#36a6d0;height:26px;line-height:26px;padding:0 5px;white-space:nowrap;}
.Button:hover,.Button:focus{border:1px solid #f19a60;background-color:#f9dfcd;color:#000;}
.Button.disabled{color:#999;background:#eaeaea;border:1px solid #ccc;font-weight:normal;}
.Button.disabled:hover{color:#999;background:#eaeaea;border:1px solid #ccc;font-weight:normal; text-decoration:none;}
.Button IMG{margin-right:4px}

.SpeedButton{padding:2px 3px 1px 3px;height:18px;text-align:center;cursor:default}
.SpeedButton IMG{margin-right:4px}
.SpeedButtonBorder{border:1px solid #ffac46;background:url("common/btnActiveBg.gif") repeat-x left center;}
.PrintButton{display:inline-block;}
.PrintButton:hover .Button{border-color:#1193c7;background-color:#36a6d0;padding:0 5px;color:#000;}
.PrintButton .Button{margin:0;}
.PrintButton button.Button{border-top-right-radius:0;border-bottom-right-radius:0;}
.PrintButton span.Button{border-top-left-radius:0;border-bottom-left-radius:0;min-width:20px;}
.PrintArrowButton{width:20px;text-align:center;}
.PrintButton span.Button img{margin:5px 0 0 1px}


.TextArea{border:1px solid #ccc;box-shadow:1px 2px 2px #fff;padding:1px;background-color:#fff; text-indent:3px;}
.IFrame{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff}
.Calendar{ border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff}
.DropDownList{width:118px;height:19px;border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;background-color:#f6f6f6}
.ListBox{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;padding:1px;background-color:#fff;width:116px}
.ListBox td{line-height:23px;}

.CheckBoxListHorzItem{padding-bottom:3px;padding-right:8px;}
.RadioButtonListHorzItem{padding-bottom:3px;padding-right:8px}
.RadioButtonListHorzItem label, .CheckBoxListHorzItem label, .CheckBoxListVertItem label, .RadioButtonListVertItem label{margin-left:3px;}

.Label{margin-top:3px;word-wrap:break-word;word-break:break-all}
.TextLabel{width:118px;height:19px;border-width:0;padding:1px;background-color:#f6f6f6}
.CheckBox{margin-bottom:-2px}
.RadioButton{margin-bottom:-2px}
.HSpacer{padding-left:3px;font-size:1px;line-height:1px}
.VSpacer{height:8px}
.DetailMain .DetailCommpany .LayoutGroupCaption{}

.LayoutGroupCaption{line-height:28px;padding-left:5px;padding-top:3px;padding-bottom:1px;background:#fff url("tab/tab.png") repeat-x left top;color:#333;}
.LayoutGroupBorder{border:1px solid #d2d6d9;border-top-style:none;box-shadow:1px 2px 2px #fff;margin-bottom:5px;text-align:left;
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;overflow:hidden}
.LayoutGroupBorder .LayoutGroupBorder{border-top-style:solid;}
.LayoutGroupVSpacer{height:4px}
.LayoutItemLabelVSpace{padding-top:3px}
.LayoutItemControlVSpace{padding-top:3px}
.LayoutItemLabel{white-space:nowrap;padding-left:8px;padding-top:3px;padding-right:8px;line-height:30px;}
.LayoutItemControl{padding-right:6px}
.LayoutItemNoLabel{padding-top:6px;padding-right:0}
.LayoutItemControl .Label{line-height:14px;}
.LayoutFirstItemNoLabel{padding-left:0;padding-top:3px;padding-right:0}
.LeftPanel{padding-right:8px}
.RightPanel{overflow:auto}

.FormBorder{border:1px solid #476f9a;border-bottom-width:2px;
            border-top-left-radius:3px;border-top-right-radius:3px;
            -moz-border-top-left-radius:3px;-moz-border-top-right-radius:3px;
            -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;
            -moz-box-shadow:1px 1px 3px #ddd,-1px 1px 3px #ddd,-1px -1px 3px #ddd,1px -1px 3px #ddd;
            -webkit-box-shadow:1px 1px 3px #ddd,-1px 1px 3px #ddd,-1px -1px 3px #ddd,1px -1px 3px #ddd;
            box-shadow:1px 1px 3px #ddd,-1px 1px 3px #ddd,-1px -1px 3px #ddd,1px -1px 3px #ddd;}
.FormCaptionText{font-size:15px; text-indent:5px; text-shadow:1px 1px 1px #555;letter-spacing:1px;}
.FormCaption{color:#fff;border-bottom:1px solid #1193c7;background:#476f9a url("form/captionBg.gif") repeat-x left center;}
.FormCaptionLabel{padding-left:4px;padding-top:3px;height:30px;}
.FormCaptionButton{padding-right:2px}
.FormSmallCaptionLabel{padding-left:4px;padding-top:2px;}
.FormContent{padding:5px;overflow:auto}
.FormContentAutoSize{padding:5px}

.GridConfigPage .Button{font-size:12px;}
.Grid{border:1px solid #ddd;background-color:#fafafa;padding:3px}
.GridHeader{cursor:default;height:33px;padding-bottom:0;background-color:#c5c5c5;}
.GridHeaderRow{height:34px}
.GridHeaderCaption{height:34px;font-size:14px;background-color:#f1f1f2;
                filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#dddddd,EndColorStr=#f2f2f2);
                background-image: linear-gradient(#dddddd, #f2f2f2);
                background-image: -webkit-linear-gradient(top, #dddddd, #f2f2f2);
                background-image: -moz-linear-gradient(top, #dddddd, #f2f2f2);}
.GridHeaderCaptionText{color:#000; padding:2px 5px 1px 5px;white-space:nowrap}
.GridHeaderCaption:hover .GridHeaderCaptionText{color:#fff;}
.GridHeaderSortShape{padding-right:5px;padding-top:2px}
.GridFooter{background-color:#fefbe5;table-layout:fixed;cursor:default}
.GridFooterCell{height:100%;overflow-x:hidden}
.GridFooterCellText{height:15px;white-space:nowrap;background-color:#fefbe5;margin:1px;border:1px solid #d6e9f9;padding:0 3px 0 3px}
.GridBody{background-color:#fefefe}
.GridBodyRows{background-color:#ddd}
.GridBodyRow{height:28px}
.GridBodyCellText{padding:3px 5px 2px 3px;min-height:15px;word-wrap:break-word;word-break:break-all}
.GridBodyCellLinkText{text-decoration:underline;cursor:pointer}
.GridBodyRowNoCell{background-color:#f6fcff}
.GridBodyRowNoCellText{text-align:left;padding:3px 5px 2px 8px;min-height:15px}
.GridInplaceCell{padding:0}

.Pager{border:1px solid #ddd;background-color:#fafafa;height:31px;overflow:hidden;}
.PagerBottom{border-width:0 1px 1px 1px;}
.PagerTop{border-width:1px 1px 0 1px}
.PagerContent{padding:6px;}
.PagerSummaryText{color:#656566;padding-top:0px;padding-right:8px}
.PagerPageNumber{padding-top:1px;}
.PagerPageNumberSelected{padding:0px 6px;border:1px solid #1c689f;background-color:#2576b0;color:white;}
.PagerPageNumberButton{padding:0px 6px;border:1px solid #bcbcbc;background-color:#f6f6f6;}
.PagerPageNumberHover{padding:0px 6px;border:1px solid #aedaf0;background-color:#b7e6fd;}
.Pager .Edit{height:18px;}
.Pager .Button{height:22px;line-height:22px;}

.MenuBar{background:#1193c7;height:34px;}
.MenuBar .MenuBarHandle{height:34px;background-image:url("menu/menuBarHandle.gif");background-repeat:no-repeat;background-position:center right;padding:0 2px 0 8px;width:6px;cursor:default}
.MenuRoot{white-space:nowrap;cursor:default; vertical-align:middle}
.MenuRoot .MenuRootCaption{padding:0 10px 0 10px;font-size:15px;height:34px;line-height:34px;color:#fff;}
.MenuRoot .MenuRootCaption img{margin-bottom:6px}
.MenuRoot .MenuRootCaption:hover{color:#000;}
.Menu{position:absolute;top:0;visibility:hidden;margin-top:1px;border:1px solid #b9baba;background-color:#fbfbfb;white-space:nowrap;cursor:default}
.Menu THEAD,.Menu TFOOT{height:1px;background-color:#fbfbfb}
.Menu TBODY .MenuItem{white-space:nowrap}
.Menu TBODY .MenuItem .MenuSpacerLeft{width:0}
.Menu TBODY .MenuItem .MenuImage{background-image:url("menu/menuItem.gif");background-position:center center;background-repeat:repeat-y}
.Menu TBODY .MenuItem .MenuImage IMG{margin:3px 4px 3px 3px}
.Menu TBODY .MenuItem .MenuCaption{padding:2px 18px 0 8px;background-color:#fbfbfb;white-space:nowrap}
.Menu TBODY .MenuItem .MenuMore,.Menu TBODY .MenuItem .MenuNoMore{padding-right:6px;background-color:#fbfbfb;text-align:right}
.Menu TBODY .MenuItem .MenuShortcut{padding-right:6px;text-align:right}
.Menu TBODY .MenuItem .MenuSpacerRight{width:0;background-color:#fff}
.Menu TBODY .MenuSeperator .MenuImage{background-image:url("menu/menuItem.gif");background-position:center center;background-repeat:repeat-y}
.Menu TBODY .MenuSeperator .MenuCaption{border:1px solid #fff;background-color:#d5dbde}
.Menu TBODY .MenuSeperator .MenuCaption IMG{width:8px;height:1px;background-color:#fff}

.TabTopCaptions{cursor:default;height:0}
.TabTopRightSpace{border-bottom:1px solid #cbcbcb;line-height:0;font-size:0;height:1px}
.TabBottomCaptions{cursor:default;height:0}
.TabTopCaption{padding:3px 6px 0 0;white-space:nowrap;height:30px;}
.TabTopCaptionClose{padding:3px 19px 0 6px;white-space:nowrap}
.TabTopCaptionInitialize{padding:3px 0 0 0;white-space:nowrap}

.TabHeader .TabTopCaptionInitialize{font-size:16px;}
.TabTopCaptionInitialize .TabTopCaptionText{padding:0 5px;}
.TabHeader .TabTopButtonLeftSpacer{}
.TabHeader .TabTopButtonRightSpacer{}

.TabBottomCaptionClose{padding:2px 19px 1px 6px;white-space:nowrap}
.TabBottomCaptionInitialize{padding:2px 0 1px 0;white-space:nowrap}
.TabCloseButton{padding-top:1px}
.TabBody{padding:8px;border:1px solid #cbcbcb;border-top-style:none;background-color:#FBFBFB;}
.TabBodyNoHeader{overflow:hidden}

.MDIPanel{width:auto;}
.MDIBar{width:100%;height:40px;background:url("menu/topnav_bg.jpg") repeat-x left bottom;}
.MDIBarHandle{background-image:url("menu/menuBarHandle.gif");background-repeat:no-repeat;background-position:center right;padding:0 2px 0 8px;margin-right:3px;width:0;height:20px;cursor:default}
.MDITabBar{position:relative;top:1px;overflow:hidden}
.MDITabCaptions{cursor:default;height:33px}
.MDIBarLine{border-top:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;border-bottom:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;width:100%;height:0}
.MDIChilds{clear:both;overflow:auto;padding:5px}

.TreeView{padding:0;border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;overflow:auto;background-color:#fff}
.TreeNodeText{padding:2px 3px 1px 3px}

.NavBar{border:1px solid #c7c7c7;border-top-width:0;box-shadow:1px 2px 2px #fff;padding:0;background-color:#f6fcff}
.NBGroupHeader{cursor:pointer;color:#333;padding:3px 5px 3px 13px;background-image:url("navBar/headerBg.gif");background-position:0 0;background-repeat:repeat-x;border-bottom:#dff2fd 1px solid}
.NBGroupHeader TD{white-space:nowrap}
.NBGroupHeaderHover{background-position:0 -32px}
.NBGroupHeaderImg{width:16px;height:16px;background-image:url("navBar/collapseExpand.gif");background-repeat:no-repeat}
.NBGroupHeaderImgCollapse{background-position:0 0}
.NBGroupHeaderImgExpand{background-position:0 -16px}
.NBGroupBody{padding:2px 1px 2px 1px;min-height:8px;height:auto!important;height:8px}

.SmallNavItem{cursor:pointer;color:#494949;padding:4px 5px 4px 9px}
.SmallNavItemIcon{width:16px;height:16px;border-width:0;margin-right:8px}
.LargeNavItem{cursor:pointer;color:#494949;padding:6px 12px 6px 12px}
.LargeNavItemIcon{width:32px;height:32px;margin-bottom:3px}
.ToolBar{height:22px;border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;padding:1px;background-image:url("toolBar/toolBarBg.gif");background-position:0 0;background-repeat:repeat-x}
.ToolBarNoBottomLine{border-bottom-style:none}
.ToolBarNoTopLine{border-top-style:none}
.ToolBarHandle{width:11px;height:20px;background-image:url("toolBar/toolBarHandle.gif");background-repeat:no-repeat;background-position:center right}
.ToolButton{width:22px;height:20px}
.ToolSpeedButton IMG{margin-right:4px}
.ToolSpeedButton .ToolSpeedButtonContent{height:15px;white-space:nowrap;cursor:default;margin:0 1px 0 1px;padding:2px 7px 0 7px}
.ToolSeperator{width:8px;height:18px;background-image:url("toolBar/seperator.gif");background-repeat:repeat-y;background-position:center center}
.LargeToolBar{border-bottom:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;padding:2px 1px 2px 1px;height:44px;background-image:url("toolBar/largeToolBarBg.gif")}
.LargeToolBarHandle{width:11px;height:36px;margin-top:0;background-image:url("toolBar/largeToolBarHandle.gif");background-repeat:no-repeat;background-position:center right}
.LargeToolButton{width:52px;padding:2px 1px 1px 1px;cursor:default}
.LargeToolButtonText{padding:1px 0 0 0;white-space:nowrap}
.LargeToolSeperator{width:8px;height:36px;margin-top:0;background-image:url("toolBar/seperator.gif");background-repeat:repeat-y;background-position:center center}
.StatusBar{border-top:1px solid #eee;background:url("toolBar/statusBarBg.gif") repeat-x left center;height:21px}
.StatusBarHandle{background-image:url("toolBar/statusBarHandle.gif");background-repeat:no-repeat;background-position:center right;padding:0 2px 0 8px;margin-right:3px;width:0;height:21px;cursor:default}
.HtmlEditorBody{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff}
.HtmlEditorHtml{border:1px solid #b7b7b7;box-shadow:1px 2px 2px #fff;padding:5px}

.SchedulerSelectedPanel{background-color:#FDFCF4;}
.SchedulerTodayPanel{background-color:#DEEEDE;}
.SchedulerPanel{background-color:White;}
.SchedulerDayPanel{background-color:#BFDDBF;}
.SchedulerOtherDayPanel{background-color:#EFEFEF;}
.SchedulerWeekPanel{background-color:#D6EAD6;color:#999;}
.SchedulerTabel{background-color:#9ECA9E;}
.SchedulerTitle{color:#333;font-size:15px;padding-top:5px;}
.SchedulerItemPanel{white-space:nowrap;overflow:hidden;}
.GridDynamicButtonBody{padding:4px 2px;word-wrap:break-word;}
.GridDynamicButtonBody a{color:#3366cc;}
.GridDynamicButtonBody a:visited{color:#3366cc;}
.GridDynamicButtonVert{display:block;line-height:16px;text-align:center;}
.GridDynamicButtonHorz{display:block;float:left;margin-right:5px;line-height:16px;}
.LayoutGroupContainer{}
.LayoutGroupContainer a{color:#333;}
.LayoutGroupContainer button{-moz-box-shadow:0px 0px 0px #ddd;-webkit-box-shadow:0px 0px 0px #ddd;box-shadow:0px 0px 0px #ddd;}
.ContentPager{text-align:right;}
.ContentPagerItemCount{}
.ContentPagerButton{margin-left:3px;margin-right:3px;}
.ContentPagerLinkCurr{color:red;}
.ContentPagerLinkDisabled{color:#bbb;}

.Popup{border:1px solid #ccc;padding:5px; -moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc; box-shadow:0 0 5px #ccc;}
       
.ToolDropDownBox{}
.ToolDropDownBox_Button{padding:0px 5px;height:20px;line-height:20px;}
.ToolDropDownBox .ToolDropDownBox_Focus{}
.ToolDropDownBox_Focus .ToolDropDownBox_Button{}
.ToolDropDownBox_Focus .ToolDropDownBox_Arrow{}
.DropDownPopup{border:1px solid #ddd;padding:8px;
           -moz-box-shadow:2px 2px 5px #eee,-2px 2px 5px #eee,-2px -2px 5px #eee,2px -2px 5px #eee;
            -webkit-box-shadow:2px 5px 3px #eee,-2px 2px 5px #eee,-2px -2px 5px #eee,2px -2px 5px #eee;
            box-shadow:2px 2px 5px #eee,-2px 2px 5px #eee,-2px -2px 5px #eee,2px -2px 5px #eee;}
            
.BackTopShape{position:fixed;display:none;bottom:40px;right:25px;}
.ListPager{text-align:left;margin:3px auto;}
.ListPagerButton{margin-left:2px;margin-right:2px;border:1px solid #ccc;line-height:20px;height:20px;padding:0px 8px;text-align:center;display:inline-block;}
.ListPagerItemCount,.ListPagerEllipsis{border:none;}
a.ListPagerButton{}
a.ListPagerButton:hover{background-color:#eee;}
a.ListPagerLinkCurr{color:#ff6702;border:1px solid #ff6702;background-color:#ffece1;}
a.ListPagerLinkCurr:hover{text-decoration:none;background-color:transparent;cursor:default;}
a.ListPagerLinkDisabled{color:#bbb;}
a.ListPagerLinkDisabled:hover{background-color:transparent;text-decoration:none;cursor:default;}
a.ListPagerPrevButton,a.ListPagerNextButton{}

.UI_ListView{border:1px solid #eee;overflow:auto;}
.UI_ListItem{width:200px;float:left;overflow:hidden;margin:5px;}
.UI_ListLayout{border:1px solid #eee;padding:5px;background-color:#fff;height:100%;}
.UI_ListLayout:hover{border:1px solid #aaa;}
.DataText{word-wrap:break-word;word-break:break-all;}
.UI_ListView .LayoutItemLabel{padding-top:0px;}

.MyGrid{background:#F6F6F6;border-color:#e5eff6;}
.MyGrid .GridHeader{background:#ddd;}
.MyGrid .GridHeaderRow{background:#F6F6F6;}
.MyGrid .GridHeaderCaption{background:#e5eff6;filter:none;background-image:none;}
.MyGrid .GridHeaderCaptionText{background:#e5eff6; color:black}
.MyGrid .GridFooter{background:#F6F6F6;}
.MyGrid .GridFooterRow{background:#F6F6F6;}
.MyGrid .GridFooterCell{background:#F6F6F6;}
.MyGrid .GridBodyRow{height:30px;}
.MyGrid .GridBodyCell{border-bottom:1px solid #eee}
.MyGrid .GridInplaceCell{border-bottom:1px solid #eee}

.MyGrid .ScrollBar{scrollbar-arrow-color:#000;scrollbar-base-color:#ccc;scrollbar-face-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-highlight-color:#ccc;scrollbar-3dlight-color:#88b8ed;scrollbar-darkshadow-color:#88b8ed;scrollbar-track-color:#F6F6F6}
.MyGrid .ScrollBar::-webkit-scrollbar-thumb{background-color:#ccc;}
.MyGrid .ScrollBar::-webkit-scrollbar-thumb:hover{background-color:#bbb;}
.MyGrid .ScrollBar::-webkit-scrollbar-track-piece{background-color:#F6F6F6;}
.MyGrid .ScrollBar::-webkit-scrollbar-button{background-color:#f6f6f6;outline:1px solid #f6f6f6}
.MyGrid .ScrollBar::-webkit-scrollbar-button:vertical:decrement{border-bottom:7px solid #666}
.MyGrid .ScrollBar::-webkit-scrollbar-button:vertical:increment{border-top:7px solid #666}
.MyGrid .ScrollBar::-webkit-scrollbar-button:horizontal:decrement{border-right:7px solid #666;}
.MyGrid .ScrollBar::-webkit-scrollbar-button:horizontal:increment{border-left:7px solid #666;}
.MyGrid .ScrollBar::-webkit-scrollbar-corner{background-color:#ccc}

.DetailGrid{border:1px solid #efefef;border-bottom:none;border-left:none;box-shadow:0px 0px 0px #eee;background-color:transparent;padding:0px;}
.DetailGrid .GridHeader{background-color:#f4ead1;cursor:default;height:30px}
.DetailGrid .GridHeaderRow{height:30px}
.DetailGrid .GridHeaderCaption{height:28px;
                   filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#2a4675,EndColorStr=#7bafa3);
                   background-image: linear-gradient(#2a4675, #7bafa3);
                   background-image: -webkit-linear-gradient(top, #2a4675, #7bafa3);
                   background-image: -moz-linear-gradient(top, #2a4675, #7bafa3);}
.DetailGrid .GridHeaderCaptionText{color:#fff;padding:2px 5px 1px 5px;white-space:nowrap}
.DetailGrid .GridHeaderSortShape{padding-right:5px;padding-top:2px}
.DetailGrid .GridFooter{background-color:#fefbe5;table-layout:fixed;cursor:default}
.DetailGrid .GridFooterCell{height:100%;overflow-x:hidden}
.DetailGrid .GridFooterCellText{height:15px;white-space:nowrap;background-color:#fefbe5;margin:1px;border:1px solid #d6e9f9;padding:0 3px 0 3px}
.DetailGrid .GridBody{background-color:#f6fcff}
.DetailGrid .GridBodyRows{background-color:#f4ead1}
.DetailGrid .GridBodyRow{height:25px;}
.DetailGrid .GridBodyCellText{padding:3px 2px 2px 3px;min-height:15px;word-wrap:break-word;word-break:break-all}
.DetailGrid .GridBodyCellLinkText{text-decoration:underline;cursor:pointer}
.DetailGrid .GridBodyRowNoCell{background-color:#f6fcff;overflow:hidden}
.DetailGrid .GridBodyRowNoCellText{text-align:left;padding:3px 5px 2px 8px;min-height:15px}
.DetailGrid .GridInplaceCell{padding:0}
.DetailGrid .GridDynamicButtonBody{padding:1px 2px;}

.DetailGrid .ScrollBar{scrollbar-arrow-color:#000;scrollbar-base-color:#ccc;scrollbar-face-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-highlight-color:#ccc;scrollbar-3dlight-color:#88b8ed;scrollbar-darkshadow-color:#88b8ed;scrollbar-track-color:#F6F6F6}
.DetailGrid .ScrollBar::-webkit-scrollbar-thumb{background-color:#ccc;outline:1px solid #ccc;}
.DetailGrid .ScrollBar::-webkit-scrollbar-thumb:hover{background-color:#bbb;}
.DetailGrid .ScrollBar::-webkit-scrollbar-track-piece{background-color:#F6F6F6;}
.DetailGrid .ScrollBar::-webkit-scrollbar-button{background-color:#f6f6f6;outline:1px solid #f6f6f6}
.DetailGrid .ScrollBar::-webkit-scrollbar-button:vertical:decrement{border-bottom:7px solid #666;}
.DetailGrid .ScrollBar::-webkit-scrollbar-button:vertical:increment{border-top:7px solid #666;}
.DetailGrid .ScrollBar::-webkit-scrollbar-button:horizontal:decrement{border-right:7px solid #666;}
.DetailGrid .ScrollBar::-webkit-scrollbar-button:horizontal:increment{border-left:7px solid #666;}
.DetailGrid .ScrollBar::-webkit-scrollbar-corner{background-color:#ccc}


.LayoutItemControlVSpace .TRVertCheckBoxList{}
.LayoutItemControlVSpace .TRHorzCheckBoxList{}
.TRVertCheckBoxList .TRCheckBoxListItem{display:block;line-height:25px;}
.TRHorzCheckBoxList .TRCheckBoxListItem{float:left;margin-right:5px;line-height:25px;}
.TRCheckBoxListItem label:hover{color:#e9b63a}
.TRCheckBoxListItem input{}
.TRCheckBoxListItem label{width:90px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}

.TRVertRadioButtonList{overflow:hidden;}
.TRVertRadioButtonList .TRRadioButtonListItem{display:block;line-height:25px;}
.TRHorzRadioButtonList .TRRadioButtonListItem{float:left;margin-right:5px;line-height:25px;}
.TRRadioButtonListItem label:hover{color:#e9b63a}
.TRRadioButtonListItem input{}
.TRRadioButtonListItem label{width:90px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}

.HintBox td{font-size:12px;line-height:22px;}
.HintBox img{margin-top:5px;}

.clear{clear:both;}
.MyButton{}
.MyCloseButton{color:#ff5500;}

.SelectorBottom{margin-top:10px;}
.SelectorBottom .Button{margin-right:10px;}
.SelectorBottom td .Button{margin-right:0;}
.PrintButton .Button{margin:0;}
.FloatLeft{float:left;}
.FloatRight{float:right;}

#GlobalToolTip{border:1px solid #000; background:#333;z-index:9999999;line-height:30px;text-align:center;padding:0px 15px;color:#fff;
               border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
               box-shadow:-3px 0px 7px #ccc,3px 0px 7px #ccc,0px 3px 7px #ccc,0px -3px 7px #ccc; 
               -moz-box-shadow:-3px 0px 7px #ccc,3px 0px 7px #ccc,0px 3px 7px #ccc,0px -3px 7px #ccc; 
               -webkit-box-shadow:-3px 0px 7px #ccc,3px 0px 7px #ccc,0px 3px 7px #ccc,0px -3px 7px #ccc; 
               position:absolute; left:43%;top:43%;display:none;opacity:0.9;}

.MessageBox .Button{height:24px;line-height:24px;}
.MessageBox .FormCaption{color:#fff;font-weight:bold;}
.MessageBox .MessageBoxText{ vertical-align:middle;word-wrap:break-word; word-break:break-all; -ms-word-break: break-all;}

.SoftKeyboardButton{width:40px;height:22px;text-align:center;font-size:14px; font-family:"Arial";}
.SoftKeyboard_Number{border:1px solid #ccc; background:#fafafa;}
.SoftKeyboard_Letter{border:1px solid #bbb; background:#e1e1e1;}
.SoftKeyboard_Symbol{border:1px solid #aaa; background:#ccc;}
.SoftKeyboard_FN{font-size:12px;background:#CCE4EE;border:1px solid #81b7e4;}
.SoftKeyboard_OK{font-size:12px;background:#CCE4EE;border:1px solid #81b7e4;}
.SoftKeyboard_Line{height:3px;line-height:0;font-size:0;overflow:hidden;}
.SoftKeyboardButton:hover{background:#D7F0FA;color:#ff0000;}
.SoftKeyboard_Line:hover{background:none;}

.HintBox td{font-size:12px;line-height:22px;}
.HintBox img{margin-top:5px;}

.TreeDragBlock{border:1px dashed #aaa;background:#fafafa;padding:8px; position:absolute; display:none;}
.TreeDragLine{height:1px;border:1px dashed #aaa;border-left:5px solid red; position:absolute; display:none;}

.HtmlEditorFacePopup map{position:absolute; display:block; width:275px;height:114px;left:0;top:0;}
.HtmlEditorFacePopup area{display:block;width:27px;height:26px;float:left; cursor:pointer;}

.FormBorder .LayoutItemLabel{line-height:25px;}

.p-top .mui-mbar-arr { top: -16px; border-top-color: transparent; border-bottom-color: #ccc;  }
.p-bottom .mui-mbar-arr { bottom: -16px; border-top-color: #ccc; border-bottom-color: transparent; }

.FlatButton:hover span{color:#000;}


.DyGrid .GridDynamicButtonVert{border:1px solid #ccc; border-radius:4px;margin:3px auto;max-width:80px; padding:2px 5px; text-align:center;display:block;background-color:#eee;}
.DyGrid .GridDynamicButtonVert:hover{
                    animation: myfirst 1s;
                    -moz-animation: myfirst 1s;	/* Firefox */
                    -webkit-animation: myfirst 1s;	/* Safari ºÍ Chrome */
                    -o-animation: myfirst 1s;	/* Opera */
                    background-color:yellow;
                   }
                   
         @keyframes myfirst
        {           
            from {background: green;}
            to {background: yellow;}
        }
        
        @-moz-keyframes myfirst /* Firefox */
        {
        from {background: green;}
        to {background: yellow;}
        }

        @-webkit-keyframes myfirst /* Safari ºÍ Chrome */
        {
       from {background: green;}
        to {background: yellow;}
        }

        @-o-keyframes myfirst /* Opera */
        {
        from {background: green;}
        to {background: yellow;}
        }