<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="carpa.web" type="Carpa.Web.Configuration.CarpaWebSection, Carpa.Web"/>
  </configSections>
  <connectionStrings>
    <add name="CarpaDbConn" connectionString="server=127.0.0.1;database=bill;User ID=root;Password=123;Charset=utf8; Allow Zero Datetime=True;OldSyntax=true;port=3306;Character Set=utf8"/>
  </connectionStrings>
  <carpa.web>
    <pages assembly="Test001" defaultSkinName="beefun" enableDebugJs="true" css="skins/common.css"/>
    <assemblies>
      <!-- resourcePath指定相对当前根的目录，支持绝对目录 -->
      <add assembly="Test001" resourcePath="."/>
    </assemblies>
  </carpa.web>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="600" maxRequestLength="10240"/>
    <sessionState mode="StateServer"/>
    <httpHandlers>
      <add verb="GET,HEAD" path="R.axd" validate="false" type="Carpa.Web.Handlers.ResourceHandler, Carpa.Web"/>
      <add verb="*" path="*.gspx" validate="false" type="Carpa.Web.Script.ScriptHandler, Carpa.Web"/>
      <add verb="*" path="*.ajax" validate="false" type="Carpa.Web.Ajax.AjaxHandlerFactory, Carpa.Web"/>
    </httpHandlers>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="None"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="gspx" path="*.gspx" verb="*" modules="IsapiModule" scriptProcessor="H:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="ajax" path="*.ajax" verb="*" modules="IsapiModule" scriptProcessor="H:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Main.gspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>